@import url('https://db.onlinewebfonts.com/c/09fc87e1ac5bbdeb5c42b2c1ec4f780f?family=Jotia+W00+Regular');

h1 {
    margin-top: 200px;
    text-align: left;
    font-weight: bold;
    padding-left: 80px;
    top: -60px;
    font-family: 'Jotia W00 Regular', sans-serif;

    
}

p { 
   text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 0.5rem;
font-family: 'Open Sans';
 text-align: center;
   

}

nav {
    height: 100vh;
    width: 70vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(0, 0, 0, 0, 00.1);
     background-image: url('https://cdn.discordapp.com/attachments/1408835017051865140/1411457294872612874/IMG_4163-removebg-preview.png?ex=68b4b98a&is=68b3680a&hm=b9a9d2ddde18b78e67efd769918af22659c3e14f7325aafa6592b9a3adc7d237');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
     
    

}

nav.scrolled {
  background-color: rgb(153, 0, 0); /* Qatar Airways red */
}

a {
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    padding: 0 10px
}
a:after {
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 100;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after {
    width: 100;
}
    
nav {
   height: 60px;                 
  width: 100%;              
  display: flex;
  align-items: center;    
  justify-content: center;     
  position: fixed;             
  top: 0;
  left: 0;
}


a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);              
    font-size: 18px;
    padding: 0 10px;
    font-weight: bold;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;                  
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

a:hover:after {
    width: 100%;               
}


.box {
  background: rgba(0, 0, 0, 0.6); 
  padding: 20px 30px;             
  border-radius: 10px;            
  max-width: 700px;              
  margin: auto;               
}

body {
    width: 100;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(https://cdn.discordapp.com/attachments/1395154926715408416/1411195565227638844/hn-autumn-europe-2.png?ex=68b3c5c9&is=68b27449&hm=6b4f7e72ab405848a35c31a2d72b685044fc5219bf0e25a6b544290167403b5d)
    
    
}

.button-container {
    display: flex;
}

.lets-go {
    padding: 15px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 80px;
    position: relative;
    top: -15px;
    
}

.lets-go:hover {
  background-color: #fff7f7;
  color: rgb(124, 0, 0);        
  transform: scale(1.05);            
}

#QR-Main-Header {
    color: rgb(116, 0, 0);
    text-align: center;
    padding-left: 30px;
    position: relative;
    top: -175px;
    padding-right: 50px;
    

}


p {
 text-transform: none;
  letter-spacing: 1px;
  color: #888;
  margin-bottom: 0.5rem;
  position: relative;
  top: -150px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 45px;
  padding-left: 35px;
}

.my-image {
    border-radius: 25px;
    position: relative;
    left: 155px;
    top: 250px;
}

#QR-Books {
    color: rgb(255, 255, 255);
    position: relative;
    top: -165px;
    text-align: center;
    padding-right: 150px;
    padding-left: 155px;
}

#QR-Next {
    text-align: left;
    padding-left: 630px;
    position: relative;
    top: -167px;
    color: white
    

}

#QR-Ava {
    color: rgb(116, 0, 0);
    text-align: center;
    padding-right: 90px;
    position: relative;
    top: -200px;
}

#QR-Test {
    color: rgb(116, 0, 0);
    text-align: center;
    padding-right: 95px;
    position: relative;
    top: -200px;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 60;
    
}

html {
  scroll-behavior: smooth;
}

.QR-Image {
    width: 25%;
    width: 300px;              
    background-size: contain;
    position: relative;
    top: -1113px;
    margin-left: 95px;
    border-radius: 30px;
    
}

.qatar-card {
  background-color: #ffffff;         
  color: #8B0000;                    
  padding: 25px 20px;              
  border-radius: 20px;               
  width: 255px;                     
  text-align: left;                
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  margin: 20px 0;                    
  font-family: Arial, sans-serif;
  position: relative;
  top: -1135px;
  margin-left: 95px;
}


.qatar-button {
  text-decoration: none;             
  background-color: #8B0000;       
  color: #ffffff;                    
  padding: 12px 25px;
  border-radius: 25px;               
  font-weight: bold;
  display: inline-block;
}

.qatar-button:hover {
  background-color: #b30000;         
  transform: scale(1.05);            
}

html {
  opacity: 0;
  transition: opacity 0.5s ease;
}

html.fade-in {
  opacity: 1;
}

html.fade-out {
  opacity: 0;
}

.rick-card {
  background-color: #ffffff;         
  color: #8B0000;                    
  padding: 25px 20px;              
  border-radius: 20px;               
  width: 145px;                     
  text-align: left;                
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  margin: 20px 0;                    
  font-family: Arial, sans-serif;
  position: relative;
  top: -1325px;
  margin-left: 550px;
}
.rick-image {
    width: 10%;
    width: 200px;              
    background-size: contain;
    position: relative;
    top: -1675px;
    left: 450px;
    margin-left: 95px;
    border-radius: 30px;
}
